
.main{
  
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    box-shadow: 5px 10px;
}
/*
.set{
  background-color: #e6f2f2;

/* background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */


.main-2{
  height: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px;
  margin: 5% auto;
}

.homeContainer{
    margin-left: 160px;
}

.nav-login{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Nav-bar{
  background-color: rgb(229, 218, 218);
  color: azure;
  padding-left: 140px;
  padding-right: 140px;
}

.items-nav-login{
  color: rgb(0, 0, 0);
  z-index: 1;
  padding-right: 20px;
  font-size: 25px;
}
.items-nav-login:hover{
  background-color: brown;
  
}
